---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import Navbar from '../components/Navbar.jsx';
---

<Layout title="TYMQRO">
	<Navbar client:load />
	<h1>BIENVENIDO</h1>
	<div class="columns-3xs ...">
		<img class="w-full aspect-video ..." src="/galery/G0170468.JPG" />
		<img class="w-full aspect-square ..." src="/galery/G0350743.JPG" />

		  
		<!-- ... -->
	</div>
</Layout>